<ion-view title="Buenos Aires" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="buenosAires-list3">
      <ion-item id="buenosAires-list-item4">Starbucks</ion-item>
      <ion-item id="buenosAires-list-item5">Burguer King</ion-item>
      <ion-item id="buenosAires-list-item6">Outback</ion-item>
    </ion-list>
    <button id="buenosAires-button4" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-large icon ion-android-add buttonFooter2"></button>
  </ion-content>
</ion-view>