<ion-view title="Despesas" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="despesas-form3" class="list">
      <label class="item item-input" id="despesas-input4">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="despesas-input5">
        <span class="input-label">Valor</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="despesas-input6">
        <span class="input-label">Descricao</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="despesas-input7">
        <span class="input-label">Foto</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="despesas-button6" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-large icon ion-android-camera buttonFooter3"></button>
  </ion-content>
</ion-view>