<ion-view title="Pastas" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="pastas2-list1">
      <ion-item id="pastas2-list-item1">Buenos Aires</ion-item>
      <ion-item id="pastas2-list-item2">Berlim</ion-item>
      <ion-item id="pastas2-list-item3">Sâo Paulo</ion-item>
    </ion-list>
    <button id="pastas2-button3" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-large icon ion-android-add buttonFooter2"></button>
  </ion-content>
</ion-view>